@{
    ViewBag.Title = "Sobre nosotros";
}
<h2 class="text-center">@ViewBag.Title.</h2>
<!--<h3 class="text-center">@ViewBag.Message</h3>-->

<div class="row text-center">
    <div class="col-img">
        <img src="~/Content/workers.jpg" width="650" height="450" />
    </div>
</div>
<br />
<h4 class="text-justify">
    Innova Corporation  es una iniciativa creada por los estudiantes del Cesde, sede Bello,<br />
    para financiar proyectos empresariales. Cualquier ciudadano colombiano o extranjero que cumpla con los requisitos,<br />
    podrá postular una idea de negocio innovadora; Así mismo podra recibir acompañamiento, para evaluar la viabilidad de su proyecto.
</h4>

