@{
    ViewBag.Title = "Contactenos";
}
<h2 class="text-center">@ViewBag.Title.</h2>
<!--<h3 class="text-center">@ViewBag.Message</h3>-->

<div class="row text-center">
    <div class="col-img">
        <img src="~/Content/contacto.jpg" width="650" height="450" />
    </div>
</div>
<br />
<h4 class="text-center">Estamos dispuestos ha facilitar la radicación de su solicitud.<br />
    Envíanos un mensaje o puedes llamar, para que nuestro equipo haga un seguimiento oportuno de tu solicitud.</h4>

<address class="text-center">
    Centro empresarial<br />
    Cesde BELLO<br />
               <abbr title="Telefono">&#x260e;</abbr>
    0180009080
</address>

<address class="text-center">
    <strong>Soporte:</strong>   <a href="#">soporte@innova.net</a><br />
    <strong>Comercial:</strong> <a href="#">comercial@innova.com</a>
</address>