@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>INNOVA CORPORATION</h1>
    <p class="lead">INNOVA CORPORATION es un grupo dedicado a estimular el emprendimiento de los ciudadanos. El Portal Innova Corporation es el medio de comunicación que haciendo uso de las TICs, apoya la labor de divulgación acerca de los eventos y proyectos relacionados con el empresarismo.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row text-center">
    <div class="col-img">
        <img src="~/Content/innova.jpg" width="650" height="450" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <h2>Como empezar</h2>
        <p>
            Estamos integrados con la comunidad emprendedora y las plataformas que hemos creado para que saques el mayor provecho posible del ecosistema emprendedor. Te ofrecemos Market Places, Vitrina Emprendedora, ruedas de negocio, y muchas más oportunidades.
        </p>
        <p><a class="btn btn-default" href="#">Conoce mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("registre su idea de negocio","Index", "registroes")</h2>
        <p>Contamos con 117 Centros de Desarrollo Empresarial en todo el país, para brindarte atención virtual o presencial. Además, contamos con orientadores y aliados estratégicos para ayudarte a convertir tu idea de negocio en un negocio rentable y sostenible.</p>
        <p><a class="btn btn-default" href="#">Conoce mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Estrategia Psicologica</h2>
        <p>
            Comprende todas las herramientas que tenemos para que desarrolles tus habilidades blandas: Bootcamps, nuestro libro de emprendimiento, material audiovisual, y la Formación en Comportamiento Emprendedor que te ofrecemos.
      
        </p>
        <p><a class="btn btn-default" href="#">Conoce mas &raquo;</a></p>
    </div>
</div>